* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --bold: 700;
    --normal: 400;
    --light: #f4e9cd;
    --dark: #031926;
    --accent: #468189;
    --light-accent: #7da3a1;
    --transition: all 0.3s ease;
    --grid: minmax(60px, 150px) 1fr minmax(60px, 150px);
    --background-color: #9DBEBB;
}

::-webkit-scrollbar {
    width: 0.75em;
    background-color: var(--light);
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 0.75em;
}

/* Typography */
header {
    padding: 2rem;
}

section {
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--background-color);
}

@media (max-width: 400px) {
    .title {
        font-size: 1.3rem;
        line-height: 1.45rem;
    }

    .content {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

@media (min-width: 800px) {
    section {
        padding: 125px;
    }

    .container {
        padding: 0;
    }

    .title {
        font-size: 2.5rem;
        line-height: 2.65rem;
    }

    .content {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

@media (min-width: 1400px) {
    section {
        padding: 150px;
    }

    .title {
        font-size: 2.8rem;
        line-height: 2.875rem;
    }

    .content {
        font-size: 1.56rem;
        line-height: 2.125rem;
    }
}

/* Navigation */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5em 0;
    transition: var(--transition);
    background-color: var(--dark);
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
}

#logo {
    transition: var(--transition);
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-top: 1em;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-size: 1rem;
    height: 100%;
    width: 100%;
    margin-top: 0.25em;
}

.nav-link {
    text-decoration: none;
    color: var(--light);
    transition: var(--transition);
    text-align: center;
}

.nav-link:hover {
    color: var(--accent);
}

.active {
    background-color: var(--dark-low);
}

@media (min-width: 800px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 70px;
        padding: 0 125px;
    }

    .nav-bar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
        margin: 0;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 70px;
        margin: 0;
    }

    .nav-item + .nav-item {
        margin-left: 3em;
    }
}

@media (min-width: 1400px) {
    header {
        padding: 0 150px;
        height: 90px;
    }

    #logo {
        transform: scale(1);
    }

    .nav-bar {
        height: 90px;
    }

    .nav-menu {
        height: 90px;
    }
}

/* Hero */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--dark);
}

.hero-img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid var(--light);
    margin-bottom: 1em;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    padding: 0;
}

.social-item {
    margin: 0 0.5em;
    list-style: none;
}

.social-link {
    text-decoration: none;
    color: var(--dark);
    transition: var(--transition);
}

.social-link:hover {
    color: var(--accent);
}

@media (min-width: 800px) {
    .hero-img {
        width: 250px;
        height: 250px;
    }

    .social-link {
        font-size: 2rem;
    }
}

/* About */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 700px;
    color: var(--light);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--dark);
}

.about-content {
    color: var(--dark);
}

.about-content + .about-content {
    margin-top: 1em;
}

@media (min-width: 800px) {
    .about {
        width: 100%;
    }
}

/* Why ComSci */
#why {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 700px;
    color: var(--light);
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--dark);
}

.why-content {
    color: var(--dark);
}

.why-content + .why-content {
    margin-top: 1em;
}

.why-video {
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 3em;
}

@media (min-width: 800px) {
    .why {
        width: 100%;
    }

    .why-video {
        height: 900px;
    }
}

/* Contact */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    color: var(--dark);
}

.contact {
    width: 100%;
}

#contact > form {
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    #contact > form {
        min-width: 500px;
    }
}

.btn {
    border: none;
    background-color: var(--accent);
}

.btn:hover {
    background-color: var(--light-accent);
}

